@charset "UTF-8";

@media screen and (max-width: 574px) {
    
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'poppins', sans-serif;
    }

    li > i.fa-solid {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
    
    main > ul > li > p.text {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: left;
        position: relative;
        width: 100vw;
        height: 100vh;
        gap: 25px;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background-color: #068A50;
        width: 20%;
        text-align: center;
        height: 100vh;
        border-radius: 0px;
    }
    
    .sidebar > li {
        display: block;
        padding: 15px;
        text-align: left;
        font-size: 16px;
        text-decoration: none;
        color: white;
    }
    
    .sidebar > li:hover {
        cursor: pointer;
    }

    iframe {
        border: none;
        width: 50%;
        height: 500px;
    }

    .quiz-container {
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }

    .quiz { 
        background-color: rgb(255, 255, 255);
        color: black;
        padding: 2rem;
        width: 100%;
        border-radius: 8px;
        text-align: center;
        font-size: 1.4em;  
    }

    #question { 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        margin: auto;
    }
     
    .error{
        display: none;
        color: red;
        font-size: 14px;
    }
    
    .image {
        height: 30px;
    }
    
    #symbol {
        font-size: 30px;
    }
    
    .option {
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 30px;
        gap: 20px;
        flex-wrap: wrap;
    }
   
}