@charset "UTF-8";

@media screen and (max-width: 574px) {
    
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'poppins', sans-serif;
    }
    
    main > ul > li > p.text {
        display: none;
    }

    .container {
        display: flex;
        justify-content: left;
        position: relative;
        width: 100vw;
        height: 100vh;
        gap: 25px;
    }

    .quiz-container {
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quiz {
        background-color: rgb(255, 255, 255);
        color: black;
        padding: 2rem;
        width: 100%;
        border-radius: 8px;
        text-align: center;
        font-size: 1.4em;  
    }

    .questions {
        display: flex;
        flex-direction: column;
    }

    #question { 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        margin: auto;
    }
    
    .answers {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .option, .restart {
        margin: 10px 0px;
        background-color: white;
        text-align: left;
        padding: 10px 8px;
        border-radius: 8px;
        border: 1px solid lightslategray;
        cursor: pointer;
        width: 100%;
    }
    
    .restart{
        background-color: lightslategray;
        color: white;
        border: none;
        text-align: center;
    }
    
    .logo {
        text-align: center;
        font-size: 22px;
        margin: 10px 5px;
    }
    
    .finish {
        display: none;
        flex-direction: column;
        gap: 10px;
    }
    
    .bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        font-size: 14px;
    }
    
    .next {
        background-color: lightslategray;
        font-size: 14px;
        color: white;
        border-radius: 8px;
        padding: 10px 8px;
        border: none;
        cursor: pointer;
    }
    
    .question_number {
        background-color: lightgray;
        border-radius: 50%;
        padding: 2px 8px;
        color: white;
    }
    
    .error{
        display: none;
        color: red;
        font-size: 14px;
    }
    
    .questions-images{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .image {
        height: 30px;
    }
    
    #symbol {
        font-size: 30px;
    }
    
    .option {
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 30px;
        gap: 20px;
        flex-wrap: wrap;
    }
    
    .option-images{
        margin-left: 16px
    }

   
}